<div>
 
<div class="single-page-header freelancer-header" data-background-image="assets/images/single-freelancer.jpg">
	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<div class="single-page-header-inner">
					<div class="left-side">
						<div class="header-image freelancer-avatar"></div>
						<div class="header-details">
							<h3>{{user.nom}} {{user.prenom}}<span>{{user.role}}</span></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-xl-8 col-lg-8 content-right-offset">
			
			<div class="single-page-section">
				<h3 class="margin-bottom-25">Sur moi</h3>
				<p></p>
			</div>

			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3><i class="icon-material-outline-thumb-up"></i> Historique de travail et commentaires </h3>
				</div>
				<ul class="boxed-list-ul">
					<li>
						<div class="boxed-list-item">
							<!-- Content -->
							<div class="item-content">
								<h4>{{emplois.titre}}									
									<span>Classé comme {{user.role}}</span>
								</h4>
								<div class="item-details margin-top-10">
									<div class="detail-item"><i class="icon-material-outline-date-range"></i> August 2019</div>
								</div>
								<div class="item-description">
									<p>Excellent programmer - fully carried out my project in a very professional manner. </p>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="pagination-container margin-top-40 margin-bottom-10">
					<nav class="pagination">
						<ul>
							<li><a href="#" class="ripple-effect current-page">1</a></li>
							<li><a href="#" class="ripple-effect">2</a></li>
							<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"></div>
				<!-- Pagination / End -->

			</div>

		</div>

		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">

				<a class="apply-now-button popup-with-zoom-anim margin-bottom-50">Faire une offre <i class="icon-material-outline-arrow-right-alt"></i></a>

				<div class="sidebar-widget">
					<h3>Skills</h3>
					<div class="task-tags">
						<span>iOS</span>
						<span>Android</span>
						<span>mobile apps</span>
						<span>design</span>
						<span>Python</span>
						<span>Flask</span>
						<span>PHP</span>
						<span>WordPress</span>
					</div>
				</div>

				<div class="sidebar-widget">
					<h3>Pièces jointes</h3>
					<div class="attachments-container">
						<a href="#" class="attachment-box ripple-effect"><span>Lettre de motivation</span><i>PDF</i></a>
						<a href="#" class="attachment-box ripple-effect"><span>Contract</span><i>DOCX</i></a>
					</div>
				</div>

				<div class="sidebar-widget">
					<h3>Ajouter ou partager</h3>

					<div class="copy-url">
						<input id="copy-url" type="text" value="" class="with-border">
						<button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Copy to Clipboard" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>

<div class="margin-top-15"></div>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Mettre un emplois</a></li>
		</ul>

		<div class="popup-tabs-container">

			<div class="popup-tab-content" id="tab">

				<div class="welcome-text">
					<h3>Discutez de votre projet avec David</h3>
				</div>

				<form method="post">

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="Prénom et nom"/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Addresse Email"/>
					</div>

					<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

					<div class="uploadButton margin-top-25">
						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple/>
						<label class="uploadButton-button ripple-effect" for="upload">Ajouter des pièces jointes</label>
						<span class="uploadButton-file-name">Types de fichiers autorisés: zip, pdf, png, jpg <br> Max. taille des fichiers: 50 Mo.</span>
					</div>

				</form>

				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Mettre un emplois <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>
			<!-- Login 
			<div class="popup-tab-content" id="loginn">

				<div class="welcome-text">
					<h3>Discutez de votre projet avec Tom</h3>
				</div>

				<form method="post" id="make-an-offer-form">

					<div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required/>
					</div>

					<textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

					<div class="uploadButton margin-top-25">
						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple/>
						<label class="uploadButton-button" for="upload-cv">Add Attachments</label>
						<span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
					</div>

				</form>
				
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>-->

		</div>
	</div>
</div>

</div>