<div class="gray">
    <app-headear-utilisateur></app-headear-utilisateur>
	<div id="wrapper">
		<div class="dashboard-container">
			<app-sidebar></app-sidebar>
	
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner" >
                    <div class="login-register-page">

                        <div class="dashboard-headline">
                            <nav id="breadcrumbs" class="dark">
                                <ul>
                                    <li><a href="#">Accueil</a></li>
                                    <li>Paramétres</li>
                                </ul>
                            </nav>
                        </div>

                        <div class="welcome-text margin-top-30">
                            <h3>Ajouter un inter contrat</h3>            
                        </div>

                        <form (ngSubmit)="register()" [formGroup]= "form">

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="dashboard-box margin-top-0">
                
                                        <div class="content with-padding padding-bottom-0">
                                            <div class="row">
                                                 <!-- image -->
                                                <div class="col-auto">
                                                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                                        <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                                                        <div class="upload-button"></div>
                                                        <input class="file-upload" type="file" accept="image/*" name="image" formControlName="image" [(ngModel)]="user.image"/>
                                                    </div>
                                                </div>
                
                                                <div class="col">
                                                    <div class="row">
                                                        
                                                        <!--nom-->
                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <div class="form-group">
                                                                    <h5>Nom</h5>
                                                                    <input type="text" class="form-control" name="nom" formControlName="nom" 
                                                                        [ngClass]="{'is-invalid' : submitted && f.nom.errors}" [(ngModel)]="user.nom"/>
                                                                    <div *ngIf="submitted && f.nom.errors" class="invalid.feedback">
                                                                         <div *ngIf="f.nom.errors.required"> Ce champs est oblégatoire </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <!--prenom-->
                                                        <div class="col-xl-6">
                                                            <div class="submit-field">
                                                                <div class="form-group">
                                                                    <h5> Prénom </h5>
                                                                    <input type="text" class="form-control" name="prenom" formControlName="prenom" 
                                                                        [ngClass]="{'is-invalid' : submitted && f.prenom.errors}" [(ngModel)]="user.prenom"/>
                                                                    <div *ngIf="submitted && f.prenom.errors" class="invalid.feedback">
                                                                         <div *ngIf="f.prenom.errors.required"> Ce champs est oblégatoire  </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                                                  
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>        
            
                                <div class="col-xl-12">
                                    <div id="test1" class="dashboard-box">
                
                                        <div class="content with-padding">
                                            <div class="row">

                                                <!-- Account Type -->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <div class="form-group">
                                                            <h5>Account type</h5>   
                                                            <select class="selectpicker with-border form-control" data-size="15" id="role" name="role" 
                                                               [(ngModel)]="user.role" formControlName="role" [ngClass]="{'is-invalid' : submitted && f.role.errors}">
                                                                <option *ngFor="let user of typeAcount" [value]="user.role" >{{user.role}}</option> 
                                                            </select>
                                                            <div *ngIf="submitted && f.role.errors" class="invalid.feedback">
                                                                <div *ngIf="f.role.errors.required"> Vous êtes Donneur d'ordre ou ESN  </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div> 
                                                
                                                <!--mail-->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <div class="form-group">
                                                            <h5>Email</h5>
                                                            <input type="text" class="form-control" name="email" placeholder="Entrer votre adresse mail" 
                                                                formControlName="email" [ngClass]="{'is-invalid' : submitted && f.email.errors}" [(ngModel)]="user.email"/>
                                                            <div *ngIf="submitted && f.email.errors" class="invalid.feedback">
                                                                 <div *ngIf="f.email.errors.email"> l'email doit être une adresse valide </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- adresse -->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <div class="form-group">
                                                            <h5>Adresse</h5>
                                                            <input type="text" class="form-control" name="adresse" formControlName="adresse" 
                                                            [ngClass]="{'is-invalid' : submitted && f.adresse.errors}" [(ngModel)]="user.adresse"/>
                                                            <div *ngIf="submitted && f.adresse.errors" class="invalid.feedback">
                                                                 <div *ngIf="f.adresse.errors.required"> l'adresse est oblégatoire </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--telephone-->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <div class="form-group">
                                                            <h5>téléphone</h5>
                                                            <input type="text" class="form-control" name="telephone" placeholder="Entrer votre numéro de téléphone" formControlName="telephone" 
                                                            [ngClass]="{'is-invalid' : submitted && f.telephone.errors}" [(ngModel)]="user.telephone"/>
                                                            <div *ngIf="submitted && f.telephone.errors" class="invalid.feedback">
                                                                 <div *ngIf="f.telephone.errors.required"> Ce champs est oblégatoire </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                  

                                                <!--password-->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">
                                                        <div class="form-group">
                                                            <h5>Mot de passe</h5>
                                                            <input type="password" class="form-control" name="password" formControlName="password" 
                                                            [ngClass]="{'is-invalid' : submitted && f.password.errors}" [(ngModel)]="user.password"/>
                                                            <div *ngIf="submitted && f.password.errors" class="invalid.feedback">
                                                                <div *ngIf="f.password.errors.required"> le mot de passe est oblégatoire </div>
                                                                <div *ngIf="f.password.errors.minlength"> le mot de passe doit contenir au moins 6 caractères </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <!-- confirmed password -->
                                                <div class="col-xl-6">
                                                    <div class="submit-field">

                                                        <div class="form-group">
                                                            <h5>Répété le mot de passe</h5>
                                                            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" 
                                                                [ngClass]="{'is-invalid' : submitted && f.confirmPassword.errors}" [(ngModel)]="user.confirmPassword"/>
                                                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid.feedback">
                                                                <div *ngIf="f.confirmPassword.errors.required"> Confirmez le mot de passe est oblégatoire </div>
                                                                <div *ngIf="f.confirmPassword.errors.mustMatch"> verifier votre mot de passe </div>
                                                            </div>                                
                                                        </div>                                                        
                                                    </div>
                                                </div>
                
                                                <div class="col-xl-12">
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="two-step" checked>
                                                        <label for="two-step"><span class="checkbox-icon"></span> Activer la vérification par e-mail</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </form>
                    </div>
				</div>
			</div>	  
	
		</div>
	</div>

</div>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
    <div class="sign-in-form">
        <ul class="popup-tabs-nav"></ul>
        <div class="popup-tabs-container">
            <div class="popup-tab-content" id="tab2">
                <app-login></app-login>
            </div>

        </div>
    </div>
</div>