<div> 
    
  <div id="wrapper">

    <app-headear-utilisateur></app-headear-utilisateur>
    
    <!--image -->
    <div class="intro-banner dark-overlay" data-background-image="assets/images/home-background.jpg">
        <div class="transparent-header-spacer"></div>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Embauchez des experts ou soyez embauché pour n'importe quel travail, à tout moment.</strong>
                            <br>
                            <span>Des milliers de petites entreprises utilisent <strong class="color">Marketplace Freelance</strong> pour transformer leurs idées en réalité.</span>
                        </h3>
                    </div>
                </div>
            </div>      
        </div>
    </div>

    <!-- Comment ça fonctionne -->
    <div class="section padding-top-65 padding-bottom-65">
        <div class="container">
            <div class="row">
    
                <div class="col-xl-12">
                    <div class="section-headline centered margin-top-0 margin-bottom-5">
                        <h3>Comment ça fonctionne?</h3>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-4">
                    <div class="icon-box with-line">
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class="icon-line-awesome-lock"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Créer un compte</h3>
                        <p>Apportez à la table des stratégies de survie gagnant-gagnant pour assurer une domination proactive à l'avenir.</p>
                    </div>
                </div>
    
                <div class="col-xl-4 col-md-4">
                    <div class="icon-box with-line">
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class="icon-line-awesome-legal"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Publier une tâche</h3>
                        <p>Libérez efficacement des informations multimédias sans. Maximisez rapidement le retour sur investissement.</p>
                    </div>
                </div>
    
                <div class="col-xl-4 col-md-4">
                    <div class="icon-box">
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class=" icon-line-awesome-trophy"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Choisissez un expert</h3>
                        <p>L'immersion en nanotechnologie le long de l'autoroute de l'information clôturera la boucle en se concentrant uniquement.</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <!-- Categorie -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-headline centered margin-bottom-30"> <h3>Catégories d'emplois </h3> </div>

                <div class="categories-container">
                    <a href="jobs-grid-layout-full-page.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-file-code-o"></i>
                        </div>
                        <div class="category-box-counter">612</div>
                        <div class="category-box-content">
                            <h3>Développement Web & logiciel</h3>
                            <p>Ingénieur logiciel, développeur Web / mobile & plus</p> 
                        </div>
                    </a>

                    <a href="jobs-list-layout-full-page-map.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-cloud-upload"></i>
                        </div>
                        <div class="category-box-counter">113</div>
                        <div class="category-box-content">
                            <h3>Science des données & analité</h3>
                            <p>Spécialiste des données / scientifique, analyste de données & Plus</p>
                        </div>
                    </a>

                    <a href="jobs-list-layout-full-page-map.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-suitcase"></i>
                        </div>
                        <div class="category-box-counter">186</div>
                        <div class="category-box-content">
                            <h3>Comptabilité & Conseil</h3>
                            <p>Auditeur, comptable, analyste financier  & plus</p>
                        </div>
                    </a>

                    <a href="jobs-list-layout-1.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-pencil"></i>
                        </div>
                        <div class="category-box-counter">298</div>
                        <div class="category-box-content">
                            <h3>Rédaction & traductions</h3>
                            <p>Rédacteur, rédacteur créatif, traducteur & plus</p>
                        </div>
                    </a>

                    <a href="jobs-list-layout-2.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-pie-chart"></i>
                        </div>
                        <div class="category-box-counter">549</div>						
                        <div class="category-box-content">
                            <h3>Ventes & Marketing</h3>
                            <p>Chef de marque, coordinateur marketing & plus</p>
                        </div>
                    </a>

                    <a href="jobs-list-layout-1.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-image"></i>
                        </div>
                        <div class="category-box-counter">873</div>
                        <div class="category-box-content">
                            <h3>Conception & graphique</h3>
                            <p>Directeur créatif, concepteur Web & plus</p>
                        </div>
                    </a>

                    <a href="jobs-list-layout-2.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-bullhorn"></i>
                        </div>
                        <div class="category-box-counter">125</div>
                        <div class="category-box-content">
                            <h3>Le marketing numérique</h3>
                            <p>Analyste Darketing, administrateur de profils sociaux & plus</p>
                        </div>
                    </a>

                    <a href="jobs-grid-layout-full-page.html" class="category-box">
                        <div class="category-box-icon">
                            <i class="icon-line-awesome-graduation-cap"></i>
                        </div>
                        <div class="category-box-counter">445</div>
                        <div class="category-box-content">
                            <h3>Éducation & formation</h3>
                            <p>Conseiller, entraîneur, coordonnateur de l'éducation & plus</p>
                        </div>
                    </a>        
                </div>
            </div>
        </div>
    </div>

    <!-- emplois -->
    <div class="section padding-top-65 padding-bottom-65" data-simplebar>
        <p-table #dt [value]="emplois" [rows]="3" [paginator]="true" [globalFilterFields]="['titre','adresse','salaire']"
                [(selection)]="selectedEmplois" [rowHover]="true" dataKey="id"  currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} emplois" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="titre">Titre <p-sortIcon field="titre"></p-sortIcon></th>
                    <th pSortableColumn="salaire">Prix <p-sortIcon field="salaire"></p-sortIcon></th>
                    <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
                    <th pSortableColumn="date_creation">Date de création <p-sortIcon field="date_creation"></p-sortIcon></th>
                    <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-emp let-users >
                <tr>
                    <td>
                        <p-tableCheckbox [value]="emp"></p-tableCheckbox>
                    </td>
                    <td>{{emp.titre}}</td>
                    <td>{{emp.salaire | currency:' DT '}}</td>
                    <td>{{emp.adresse}}</td>
                    <td>{{emp.date_creation}}</td>
                    <td><p-rating [ngModel]="emp.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                    <td>
                        <button pButton pRipple label="Postuler maintenant" icon="pi pi-envelope" class="p-button-success p-mr-2" (click)="getMail(users.email)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- profil -->
    <div class="section padding-top-30 padding-bottom-30">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">
                    <div class="section-headline centered margin-bottom-20"> 
                        <h2>Découvrez les 58270 profils disponibles pour réaliser une mission</h2>
                    </div>

                    <div class="categories-container">

                        <div class="col-xl-4 col-md-4">
                            <div class="icon-box with-line">
                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <img alt="" src="https://freelance-day.eu/wp-content/uploads/2021/07/cropped-kris-150x150.png" class="user-avatar status-online">                                        </div>
                                </div>
                                <h3>Kristen G</h3>
                                <p>Cheffe de projet / consultante Green It</p>

                                <div class="category-box-content">   
                                    <div class="category-box-content">
                                        <span class="rate-it" data-score="3.89" title="bon ">
                                            <i data-alt="1" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="2" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="3" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="4" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="5" class="fa fa-star-o off star-off-png" title="bon "></i>
                                            <input name="score" type="hidden" value="3.89" readonly="">
                                        </span> 
                                    </div>
                                    <div class="free-hourly-rate">
                                        <span>580.00€</span>/j                                
                                    </div>
                                    
                                    <div class="free-experience marg-top">
                                        <span>3 années d'expérience</span>
                                        <span class="hidden">0 missions réalisées</span>
                                    </div>
            
                                    <div class="free-skill"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4">
                            <div class="icon-box with-line">

                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <img alt="" src="https://freelance-day.eu/wp-content/uploads/2021/07/cropped-1530103670654-150x150.jpg" class="user-avatar status-online">
                                    </div>
                                </div>
                                <h3>T T</h3>
                                <p class="secondary-color">Funds Operations &amp; Reporting specialist</p>

                                <div class="category-box-content">  
                                     
                                    <div class="category-box-content">
                                        <span class="rate-it" data-score="5.00" title="magnifique  ">
                                            <i data-alt="1" class="fa fa-star star-on-png" title="magnifique  "></i>
                                            <i data-alt="2" class="fa fa-star star-on-png" title="magnifique  "></i>
                                            <i data-alt="3" class="fa fa-star star-on-png" title="magnifique  "></i>
                                            <i data-alt="4" class="fa fa-star star-on-png" title="magnifique  "></i>
                                            <i data-alt="5" class="fa fa-star star-on-png" title="magnifique  "></i>
                                            <input name="score" type="hidden" value="5" readonly="">
                                        </span> 
                                    </div>

                                    <div class="free-hourly-rate"><span>750.00€</span>/j</div>
                                    
                                    <div class="free-experience marg-top">
                                        <span>18 années d'expérience</span>
                                        <span class="hidden">0 missions réalisées</span>
                                    </div>
            
                                    <div class="free-skill">
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button">Bloomberg  </a></span>
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button"> ETL  </a></span>
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button">   SQL</a></span>                            
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4">
                            <div class="icon-box with-line">

                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <img alt="" src="https://freelance-day.eu/wp-content/uploads/2021/07/cropped-52407193_2086592751389623_872035312077897728_n-150x150.jpg" class="user-avatar status-online">
                                    </div>
                                </div>
                                <h3> KOLLI K </h3>
                                <p class="secondary-color">designer/ webdesigner / Infographiste</p>

                                <div class="category-box-content">  
                                     
                                    <div class="category-box-content">
                                        <span class="rate-it" data-score="3.61" title="bon ">
                                            <i data-alt="1" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="2" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="3" class="fa fa-star star-on-png" title="bon "></i>
                                            <i data-alt="4" class="fa fa-star-half-o star-half-png" title="bon "></i>
                                            <i data-alt="5" class="fa fa-star-o off star-off-png" title="bon "></i>
                                            <input name="score" type="hidden" value="3.61" readonly="">
                                        </span> 
                                    </div>

                                    <div class="free-hourly-rate"> <span>500.00€</span>/j </div>
                                    
                                    <div class="free-experience marg-top">
                                        <span>15 années d'expérience</span>
                                        <span class="hidden">0 missions réalisées</span>
                                    </div>
            
                                    <div class="free-skill">
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button">Formulaires Adobe  </a></span>
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button"> Illustration  </a></span>
                                        <span class="fre-label"><a href="#sign-in-dialog" class=" popup-with-zoom-anim log-in-button"> Illustrator  </a></span>       
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>

    <!-- ville -->
    <div class="section margin-top-65 margin-bottom-65">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">
                    <div class="section-headline centered margin-top-0 margin-bottom-45">
                        <h3>Villes</h3>
                    </div>
                </div>
    
                <div class="col-xl-3 col-md-6">
                    <a href="jobs-list-layout-1.html" class="photo-box" data-background-image="assets/images/featured-city-01.jpg">
                        <div class="photo-box-content">
                            <h3>San Francisco</h3>
                            <span>376 Emplois</span>
                        </div>
                    </a>
                </div>
                
                <div class="col-xl-3 col-md-6">
                    <a href="jobs-list-layout-full-page-map.html" class="photo-box" data-background-image="assets/images/featured-city-02.jpg">
                        <div class="photo-box-content">
                            <h3>New York</h3>
                            <span>645 Emplois</span>
                        </div>
                    </a>
                </div>
                
                <div class="col-xl-3 col-md-6">
                    <a href="jobs-grid-layout-full-page.html" class="photo-box" data-background-image="assets/images/featured-city-03.jpg">
                        <div class="photo-box-content">
                            <h3>Los Angeles</h3>
                            <span>832 Emplois</span>
                        </div>
                    </a>
                </div>
    
                <div class="col-xl-3 col-md-6">
                    <a href="jobs-list-layout-2.html" class="photo-box" data-background-image="assets/images/featured-city-04.jpg">
                        <div class="photo-box-content">
                            <h3>Miami</h3>
                            <span>513 Emplois</span>
                        </div>
                    </a>
                </div>
    
            </div>
        </div>
    </div>
    
  </div>

  <!--<app-footer></app-footer>-->
</div>    