<header id="header-container" class="fullwidth">

    <div id="header">
        <div class="container">
            <div class="left-side">

                <div id="logo">
                    <a><img src="assets/images/welyne.png" alt=""></a>
                </div>

                
                <nav id="navigation" *ngIf="isheaderFreelance | async">
                    <ul id="responsive">
                
                        <li><a href="/ajoutCv">Ajouter cv</a></li> 
                        <li><a href="/listEmpFreelance">List des Emplois</a></li>
                        <!-- <li><a href="#">Mes Mission</a></li> -->
                        <li><a href="/listFreelance">Freelance</a></li>
                        <li><a href="/listBlog">Articles</a></li>
               
                    </ul>
                </nav>
            
                <nav id="navigation" *ngIf="isheaderDonneur | async">
                    <ul id="responsive">
            
                        <li><a href="/donneur" class="current">Accueil</a>
                            <ul class="dropdown-nav">
                                <li><a href="/freelance">Freelancer</a></li>
                                <li><a href="/donneur">Donneur D'ordre</a></li>
                                <li><a href="/esn">ESN</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Emploi</a>
                            <ul class="dropdown-nav">
                                <li><a href="/ajoutEmplois">Ajouter un emploi</a></li>
                                <li><a href="/listEmplois">List des emplois</a></li>
                                <li><a href="/listCategorie">List des categories</a></li>
                            </ul>
                        </li>
                        <li><a href="/listSkyles">Liste des Skills</a></li>
                       
                        <li><a href="/listFreelance">Freelancers</a></li> 
                        <li><a href="/listBlog">Articles</a></li>
            
                    </ul>
                </nav>

                <nav id="navigation" *ngIf="isheaderEsn | async">
                    <ul id="responsive">

                        <li><a href="/esn" class="current">Accueil</a></li>
                        
                        <li><a href="#">Emploi</a>
                            <ul class="dropdown-nav">
                                <li><a href="/ajoutEmplois">Ajouter un emploi</a></li>
                                <li><a href="/listEmplois">Liste des emplois</a></li>
                            </ul>
                        </li>
                        <li><a href="/listSkyles">Liste des Skills</a></li>

                        <li><a href="/ajoutFreelance">Intercontrat</a></li>
                        <li><a href="/listWebinar">Webinar</a></li>
                        <li><a href="/listBlog">Blog</a></li>
                    </ul>
                </nav>                                     
                                
                <div class="clearfix"></div>                        
                </div>

                <div class="right-side">
                    <div class="header-widget hide-on-mobile">
                    
                        <div class="header-notifications">
    
                            <div class="header-notifications-trigger">
                                <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
                            </div>
    
                            <div class="header-notifications-dropdown">
    
                                <div class="header-notifications-headline">
                                    <h4>Notifications</h4>
                                    <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                                        <i class="icon-feather-check-square"></i>
                                    </button>
                                </div>
    
                                <div class="header-notifications-content">
                                    <div class="header-notifications-scroll" data-simplebar>
                                        <ul>
                                            <li class="notifications-not-read">
                                                <a href="dashboard-manage-candidates.html">
                                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                    <span class="notification-text">
                                                        <strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                    </span>
                                                </a>
                                            </li>
    
                                            <li>
                                                <a href="dashboard-manage-bidders.html">
                                                    <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                    <span class="notification-text">
                                                        <strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
                                                    </span>
                                                </a>
                                            </li>
    
                                            <li>
                                                <a href="dashboard-manage-jobs.html">
                                                    <span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
                                                    <span class="notification-text">
                                                        Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
                                                    </span>
                                                </a>
                                            </li>
    
                                            <li>
                                                <a href="dashboard-manage-candidates.html">
                                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                    <span class="notification-text">
                                                        <strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="header-notifications">
                            <div class="header-notifications-trigger">
                                <a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
                            </div>
    
                            <div class="header-notifications-dropdown">
    
                                <div class="header-notifications-headline">
                                    <h4>Messages</h4>
                                    <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                                        <i class="icon-feather-check-square"></i>
                                    </button>
                                </div>
    
                                <div class="header-notifications-content">
                                    <div class="header-notifications-scroll" data-simplebar>
                                        <ul>
    
                                            <li class="notifications-not-read">
                                                <a href="dashboard-messages.html">
                                                    <span class="notification-avatar status-online"><img src="assets/images/user-avatar-small-03.jpg" alt=""></span>
                                                    <div class="notification-text">
                                                        <strong>David Peterson</strong>
                                                        <p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
                                                        <span class="color">4 hours ago</span>
                                                    </div>
                                                </a>
                                            </li>
    
                                        </ul>
                                    </div>
                                </div>
    
                                <a href="dashboard-messages.html" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="header-widget">
    
                        <div class="header-notifications user-menu">
                            <div class="header-notifications-trigger">
                                <a href="#"><div class="user-avatar status-online"><img src="assets/images/ferdawes.jpg" alt=""></div></a>
                            </div>
    
                            <div class="header-notifications-dropdown">
                                <div class="user-status">
    
                                    <div class="user-details">
                                        <div class="user-avatar status-online"><img src="assets/images/ferdawes.jpg" alt=""></div>
                                        <div class="user-name"> Ferdawes haddad  </div>
                                    </div>
    
                                    <div class="status-switch" id="snackbar-user-status">
                                        <label class="user-online current-status">En ligne</label>
                                        <label class="user-invisible">Invisible</label>
                                        <span class="status-indicator" aria-hidden="true"></span>
                                    </div>	
                            </div>
                            
                            <ul class="user-menu-small-nav">
                                <li><a href="/"><i class="icon-material-outline-dashboard"></i> Profil</a></li>
                                <li><a href="/"><i class="icon-material-outline-power-settings-new"></i> Se déconnecter</a></li>
                            </ul>
    
                            </div>
                        </div>
    
                    </div>
    
                    <span class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </span>
    
                </div> 
        </div>
    </div>
</header>

<div class="clearfix"></div>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
    <div class="sign-in-form">
        <ul class="popup-tabs-nav"></ul>
        <div class="popup-tabs-container">
            <div class="popup-tab-content" id="tab2">
                <app-login></app-login>
            </div>

        </div>
    </div>
</div>
